@charset "utf-8";

/*===========================================
 reset 触らない
========================================== */
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

progress {
  display: inline-block;
}

small {
  font-size: 80%;
  font-size: 0.8em;
}

[hidden] {
  display: none;
}

[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="submit"],
input[type="button"] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
  outline-offset: -0.125rem;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

nav ol,
nav ul {
  list-style: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*===========================================
 base プロジェクトによって編集可
========================================== */
html {
  font-size: 100%;
}

@media (max-width: 414px) {
  html {
    font-size: calc((100vw - 320px) / 94 * 3.7 + 12.3px);
  }
}

@media (min-width: 414px) and (max-width: 699.98px) {
  html {
    font-size: calc((100vw - 414px) / 352 * 4 + 16px);
  }
}

@media (min-width: 700px) {
  html {
    font-size: 22px;
  }
}

:root {
  --color__txt: #303030;
}

body {
  color: var(--color__txt);
  font-family: "Noto Sans JP", sans-serif;
  word-break: break-all;
  font-weight: 400;
}

a {
  color: #f75e29;
}

p a {
  font-weight: bold;
  text-decoration: underline;
}

a>* {}

/* a img {
  transition: all 0.6s cubic-bezier(0.12, 1.07, 0.15, 1.11);
}

a img:hover {
  opacity: 0.7;
} */

em {
  font-style: normal;
  font-weight: bold;
}

img {
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
  /* margin-top: -0.3px;
  margin-bottom: -0.3px; */
}

picture {
  display: block;
  line-height: 0;
  font-size: 0;
}

picture>img {
  font-size: 0px;
  font-size: 0rem;
}

::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

*:focus {
  outline: none;
}

form input,
form textarea {
  /* -webkit-appearance: none; */
}

h1,
h2,
h3 {
  /* font-family: var(--font-family__mincho); */
  /* color: #fff; */
}

.is-show {
  opacity: 1 !important;
}

.is-hide {
  opacity: 0 !important;
}

@media (min-width: 700px) {
  .pc {
    display: block;
  }

  .pc--inline {
    display: inline;
  }

  .sp {
    display: none !important;
  }

  .sp--inline {
    display: none !important;
  }
}

@media (max-width: 699.98px) {
  .pc {
    display: none !important;
    pointer-events: none;
  }

  .pc--inline {
    display: none !important;
  }

  .sp {
    display: block;
  }

  .sp--inline {
    display: inline;
  }
}

/* @media (max-width: 767.98px) {
  p {
    line-height: 1.75;
    font-size: 16px;
    font-size: 1rem;
  }
} */

/*===========================================
 Project ここから独自CSS記載
========================================== */
a {
  transition: all 0.6s cubic-bezier(0.12, 1.07, 0.15, 1.11);
}

@media (hover: hover) {
  a:hover {
    opacity: 0.8;
  }
}

.bz {
  background-color: #fff;
  position: relative;
}

.pc-bg {
  display: none;
}

@media (min-width: 700px) {
  .bz {
    display: flex;
    justify-content: center;
    column-gap: calc(30 / 1680 * 100%);
  }

  .pc-logo__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(310 / 1680 * 100%);
    border-radius: 0 0 10px 10px;
    z-index: 10;
  }

  .pc-logo {
    aspect-ratio: 178/39;
    object-fit: cover;
  }

  .pc-bg {
    position: fixed;
    inset: 0;
    aspect-ratio: 1680/921;
    object-fit: cover;
    height: 100%;
    display: block;
  }
}

@media (min-width: 1040px) {
  .bz {
    justify-content: center;
    padding-inline: 20px;
  }

  .bz-page {
    margin-left: calc(100 / 1040 * 100%);
  }
}

@media (min-width: 1400px) {
  .bz {
    padding-inline: 20px;
  }

  .bz-page {
    margin-left: 16vw;
  }
}

@media (min-width: 1700px) {
  .bz {
    justify-content: center;
  }
}

/* @media (min-width: 1040px) {
  .bz {
    justify-content: center;
    padding-inline: 20px;
    padding-inline: 1.25rem;
    column-gap: calc(67.9 / 1680 * 100%);
  }
}

@media (min-width: 1400px) {
  .bz {
    padding-inline: 20px;
    padding-inline: 1.25rem;
    column-gap: calc(95.9 / 1680 * 100%);
  }
}

@media (min-width: 1700px) {
  .bz {
    justify-content: center;
    column-gap: calc(150 / 1680 * 100%);
  }
} */

/* PC部分 */
.bz-pc,
.pc-logo__wrapper,
.pc-bg-left,
.pc-bg-right {
  display: none;
}

.bz-pc__box {
  position: relative;
}

.pc01 {
  aspect-ratio: 409.6/640.8;
  object-fit: cover;
}

.pc-btn01 {
  display: block;
  width: calc(384 / 422 * 100%);
  margin-inline: auto;
  position: relative;
  top: -6px;
  top: -0.375rem;
}

.pc-btn01 img {
  object-fit: cover;
}

.bz-page {
  background-color: #fff;
  width: 100%;
  position: relative;
  z-index: 9;
}

.pc__items {}

.pc-tokuten__img {
  width: 93%;
}

.pc__item+.pc__item {
  margin-top: 10px;
  margin-top: 0.625rem;
}

.pc__item {
  position: relative;
  background-color: #fff;
  border-radius: 0.625rem;
  padding-block: 12px 16px;
  padding-inline: 47px 17px;
  width: 92.6%;
  box-shadow: 0 0 11.9px rgba(127, 127, 127, 0.13);
}

.pc__item-title {
  color: #478856;
  font-size: 17px;
  /* font-size: 1.0625rem; */
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 150%;
}

.pc__item p {
  margin-top: 5px;
  margin-top: 0.3125rem;
  font-size: 11px;
  /* font-size: 0.6875rem; */
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 170%;
}

.pc__item:before {
  position: absolute;
  content: "";
  top: -7%;
  left: -5%;
  aspect-ratio: 57/71;
  width: 57px;
}

.pc-cta {
  width: 91%;
}


@media (min-width: 700px) {
  .bz-pc__content {
    /* position: sticky; */
    position: fixed;
    top: 51%;
    transform: translate(0%, -50%);
    /* width: 344px; */
    width: calc(344 / 1680 * 100%);
    max-width: 380px;
    min-width: 344px;
  }

  .bz-page {
    max-width: 637px;
    /* max-width: 39.8125rem; */
    flex: 1;
    border-inline: 8px solid #fff;
    box-shadow: 5px 0 4px rgba(0, 0, 0, 0.07);
  }
}

@media (min-width: 1040px) {
  .bz-pc {
    display: block;
    position: relative;
    /* width: min(427px, 33%); */
    width: calc(345 / 1680 * 100%);
    max-width: 345px;
    z-index: 9;
    overflow: visible;
    left: 0;
  }

  .bz-page {
    left: 30px;
  }

  .pc-logo__wrapper {
    display: block;
  }
}

@media (min-width: 1400px) {
  .bz-page {
    left: -42px;
    max-width: 637px;
  }

  .bz-pc {
    left: 119px;
  }

  /* .bz-pc__content {
    top: 40%
  } */
}

/* SP部分 */
/* 共通 */
ul {
  list-style: none;
}

.inner {
  padding-inline: 21px;
  padding-inline: 1.3125rem;
}

@media (min-width: 425px) and (max-width: 699.98px) {
  .inner {
    max-width: 475px;
    margin-inline: auto;
  }
}

/* CTA */
.cta01_cta {
  /* margin-top: -10px;
  margin-top: -0.625rem; */
}

.cta__text {
  padding-bottom: 7px;
  font-size: 17.85px;
  font-size: 1.115rem;
  font-weight: 700;
  line-height: calc(17/26);
  letter-spacing: 0.18em;
  position: relative;
  width: fit-content;
  margin-inline: auto;
  color: #232826;
}

.cta__text-white {
  color: #fff;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.cta__text-pc {
  font-size: 15.17px;
  /* font-size: 0.9375rem; */
  font-weight: 700;
  line-height: calc(22/15);
  letter-spacing: 0.05em;
  position: relative;
  width: fit-content;
  margin-inline: auto;
  color: #478856;
}


.cta__text .highlight,
.cta__text-pc .highlight {
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-decoration-color: #F1DE07;
  text-underline-offset: 0.25em;
}

.cta__text-white.highlight {
  margin-inline: 0;
}


.cta__text .number {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6em;
  font-weight: bold;
}


/* .cta__text::before,
.cta__text::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 26.6px;
  width: 1.6625rem;
  height: 1.11px;
  height: 0.069375rem;
  background-color: #000;
}

.cta__text::before {
  left: -40.14px;
  left: -2.509375rem;
}

.cta__text::after {
  right: -43.14px;
  right: -2.69625rem;
} */

.cta__text--white {
  color: #fff;
}

.cta__text--white::before,
.cta__text--white::after {
  background-color: #fff;
}

.cta__button {
  width: 373.48px;
  width: 23.3425rem;
  margin-top: 11px;
  margin-top: 0.6875rem;
  margin-inline: auto;
  display: block;
}



.bz-fv__cta {
  margin-top: 21px;
  margin-top: 1.3125rem;
}

@media (any-hover: hover) {

  ta__text .cta__button01:hover,
  .cta__button02:hover,
  .cta__button03:hover {
    opacity: 0.9;
  }
}

/* スライダー */
.bz-fv__slide {
  overflow: hidden;
  position: relative;
}

.bz-slider01 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*スタイル*/
.center {
  text-align: center;
}

/* あしらい　線 */
.underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #fff;
  text-underline-offset: 0.5rem;
}

.underline-bk {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #000;
  text-underline-offset: 0.5rem;
}

.underline2 {
  position: relative;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 7px;
}

.underline2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  /* 下線からの距離（線の太さ+余白） */
  height: 1px;
  /* 2本目の線の太さ */
  background-color: currentColor;
  /* テキストと同じ色 */
}

.line-gr::after {
  content: "";
  position: absolute;
  bottom: -62%;
  left: 50%;
  transform: translateX(-51%);
  width: 59px;
  width: 3.6875rem;
  height: 2px;
  height: 0.125rem;
  background-color: #27AF54;
}

/*カラー*/
.white {
  color: #fff;
}

/* フォント */
.second-font {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-feature-settings: "pnum";
}


/* ファーストビュー */
.bz-fv {
  position: relative;
  z-index: 0;
}

@media (min-width: 700px) {
  .bz-fv {
    position: relative;
    z-index: 0;
  }
}

/* content01 */
.content01 {
  position: relative;
  margin-top: 55px;
  margin-top: 3.437rem;
  background-color: #1495d4;
  padding-bottom: 1px;
}

.content01::before {
  position: absolute;
  content: "";
  background: url(../../assets/img/line01.png) center / contain no-repeat;
  /* background-image: url(/assets/img/line01.png); */
  background-size: contain;
  aspect-ratio: 29 / 18;
  max-width: 29px;
  width: 20vw;
  top: -2%;
  left: 6%;
}

.content01::after {
  position: absolute;
  content: "";
  background: url(../../assets/img/line01.png) center / contain no-repeat;
  aspect-ratio: 29 / 18;
  max-width: 29px;
  width: 20vw;
  bottom: -3%;
  right: 5%;
}

.content01 h2 {
  position: relative;
  padding-top: 19px;
  padding-top: 1.1875rem;
  width: 246px;
  width: 15.375rem;
  margin-inline: auto;
}

.content01 h2::after {
  position: absolute;
  content: "";
  background: url(../../assets/img/k02.png)center / contain no-repeat;
  max-width: 108px;
  width: 26.1vw;
  height: 80px;
  aspect-ratio: 108/80;
  top: -9%;
  right: -36%;
}

.content01 .p1 {
  padding-top: 19px;
  padding-top: 1.1875rem;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 160%;
  width: 349px;
  width: 21.825rem;
  margin-inline: auto;
  color: #fff;
}

.content01 .p2 {
  margin-block: 20px 11px;
  margin-block: 1.25rem 0.6875rem;
  padding-block: 14px;
  padding-bottom: 7px;
  /* padding-bottom: 0.875rem; */
  background-color: #232826;
  font-size: 18px;
  /* font-size: 0.937rem; */
  letter-spacing: 0.05em;
  line-height: 142%;
  color: #fff;
  font-weight: 700;
}

/* content02 */
.content02 {
  margin-top: 35px;
  margin-top: 2.1875rem;
}

.content02 h2 {
  font-style: italic;
  font-size: 29px;
  font-size: 1.8125rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 160%;
  color: #303030;
}

.content02 h2 span {
  font-size: 1.5em;
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
  text-decoration-color: #000;
  text-underline-offset: 1.2rem;
}

.content02 .p1 {
  margin-top: 42px;
  margin-top: 2.625rem;
  font-size: 24.41px;
  font-size: 1.525rem;
  font-weight: 700;
  line-height: 180%;
  letter-spacing: 0.3rem;
}

.content02__items {
  margin-top: 32px;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 13px;
  row-gap: 30px;
  row-gap: 1.875rem;
  padding-inline: 22px;
  padding-inline: 1.375rem;
}

.content02__list .content02__item {
  margin-top: 14px;
  margin-top: 0.875rem;
}

.content02__list-title {
  position: relative;
  text-align: center;
  font-size: 24.18px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.08em;
  padding-left: 24px;
  padding-left: 1.5rem;
}

.content02__list-title:before {
  position: absolute;
  content: "";
  background: url(../../assets/img/icon01.png)center / contain no-repeat;
  aspect-ratio: 25/25;
  max-width: 25px;
  width: 6vw;
  top: 50%;
  margin-left: -30px;
  transform: translateY(-50%);
}

.content02__item img {
  border-radius: 0.625rem 0.625rem 0 0;
  border: 2px solid #6BAD4F;
  aspect-ratio: 176 / 127;
}

.content02__item p {
  background-color: #6BAD4F;
  border: 2px solid #6BAD4F;
  border-radius: 0 0 0.625rem 0.625rem;
  padding-block: 14px 16px;
  padding-block: 0.875rem 1rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 180%;
  letter-spacing: 0.08em;
}

.content02__item .big {
  font-size: 1.125em;
}

/* content03 */
.content03 {
  margin-top: 65px;
  margin-top: 4.0625rem;
  padding-top: 50px;
  padding-top: 3.125rem;
  background: url(../../assets/img/bg01.png)center / contain no-repeat;
  aspect-ratio: 414/983;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

@media (min-width: 425px) and (max-width: 699.98px) {
  .inner {
    padding-inline: 21px;
  }
}

.content03 h2,
.content03 p {
  margin-left: 14px;
  margin-left: 0.875rem;
  font-size: 28px;
  font-size: 1.75rem;
  letter-spacing: 0.03em;
  line-height: 167%;
  font-weight: 700;
}

.content03 h2 .box {
  font-size: 34px;
  font-size: 2.125rem;
  font-family: 'Shippori Mincho B1', serif;
  font-weight: 700;
  color: #131313;
  border: 1px solid #313131;
  padding-inline: 5px;
  padding-inline: 0.312rem;
}

.content03 p {
  font-family: ;
}

.content03 .p1 {
  margin-top: 33px;
  margin-top: 2.0625rem;
}

.content03 .p2 {
  margin-top: 41px;
  margin-top: 2.5625rem;

}

.content03 .p2 .box-w {
  color: #262626;
  background-color: #fff;
  font-weight: 900;
  line-height: 170%;
  padding-inline: 2% 3%;
}

.k3 {
  margin-top: 30px;
  margin-top: 1.875rem;
  width: 96%;
}

/* content04 */
.content04 {
  margin-top: 35px;
  margin-top: 2.1875rem;
}

.content04__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content04 h2 {
  position: relative;
  margin-top: 59px;
  margin-top: 3.6875rem;
  display: inline-block;
  font-family: 'Shippori Mincho B1', serif;
  font-size: 49px;
  font-size: 3.0625rem;
  letter-spacing: 0.025em;
  line-height: 150%;
  font-weight: 600;
  color: #282C26;
  letter-spacing: 0.25em;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-thickness: 0.5em;
  text-decoration-color: #E4E249;
  text-underline-offset: -0.2em;
  text-decoration-skip-ink: none;
}

.content04 h2:before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -15px;
  width: 20px;
  height: 20px;
  bottom: -0.9375rem;
  left: -0.9375rem;
  width: 1.25rem;
  height: 1.25rem;

  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

.content04 h2:after {
  content: "";
  position: absolute;
  top: -15px;
  right: -15px;
  width: 20px;
  height: 20px;
  bottom: -0.9375rem;
  width: 1.25rem;
  height: 1.25rem;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.content04 .p1 {
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  line-height: 150%;
  font-weight: 700;
}

.content04 .p2 {
  font-size: 22px;
  font-size: 1.375rem;
  letter-spacing: 0.01em;
  line-height: 150%;
  font-weight: 700;
}

.content04 .p3 {
  margin-top: 55px;
  margin-top: 3.4375rem;
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: 0.02em;
  line-height: 150%;
  font-weight: 700;
}

.content04 .p4 {
  font-size: 26px;
  font-size: 1.625rem;
  letter-spacing: 0.01em;
  line-height: 240%;
  font-weight: 700;
}

.k04 {
  margin-top: -30px;
  margin-top: -1.875rem;
}

.bg-bk {
  background-color: #282C26;
}

.content04 .p5 {
  position: relative;
  font-style: italic;
  margin-top: -1px;
  color: #fff;
  padding-top: 79px;
  padding-top: 4.9375rem;
  font-size: 35px;
  font-size: 2.1875rem;
  letter-spacing: 0.2em;
  line-height: 130%;
  font-weight: 500;
}

.content04 .p5::after {
  /*アンダーライン*/
  content: "";
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 46px;
  width: 2.875rem;
  height: 2px;
  height: 0.125rem;
  background-color: #27AF54;
}


.content04 h3 {
  color: #fff;
  margin-top: 83px;
  margin-top: 5.1875rem;
  font-size: 34px;
  font-size: 2.125rem;
  letter-spacing: 0.06em;
  line-height: 140%;
  font-weight: 500;
}

.content04 h3 .f30 {
  font-size: 30px;
  font-size: 1.875rem;
}

.content04 h3 .f26 {
  font-size: 26px;
  font-size: 1.625rem;
}

.content04 h3 .highlight {
  color: #27AF54;
  font-size: 36px;
  font-size: 2.25rem;
  margin-right: -2%;
}

.k5 {
  margin-top: 33px;
  margin-top: 2.0625rem;
}

.content04 .p6 {
  margin-top: 22px;
  margin-top: 1.375rem;
  padding: 14px 17px 13px 25px;
  padding: 0.875rem 1.0625rem 0.8125rem 1.5625rem;
  width: 75%;
  margin-inline: auto;
  color: #fff;
  font-size: 13px;
  font-size: 0.8125rem;
  letter-spacing: 0.17em;
  line-height: 170%;
  background: rgba(0, 0, 0, 0.2);
  /* 黒 20% */
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 66%;
}

@media (min-width: 425px) and (max-width: 699.98px) {
  .content04 .p6 {
    width: 54.1%;
  }
}

.content04 .p7 {
  margin-top: -9px;
  margin-top: -0.5625rem;
  position: relative;
  padding-block: 86px 67px;
  padding-block: 5.375rem 4.1875rem;
  padding-inline: 42px;
  padding-inline: 2.625rem;
  font-size: 17px;
  font-size: 1.0625rem;

  margin-inline: auto;
  color: #fff;
  letter-spacing: 0.14em;
  line-height: 230%;
  font-weight: 700;
  width: 100%;
  background: linear-gradient(to bottom,
      #282C26 0%,
      /* 黒に近いダークカラー */
      #939592 70%,
      /* グレー */
      #F0FAF3 100%
      /* 薄いグリーン系 */
    );
}

.content04 .p7:before {
  content: "";
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 11.5px solid transparent;
  /* 左側 */
  border-right: 11.5px solid transparent;
  /* 右側 */
  border-top: 14px solid #fff;
  /* 白い三角形 */
}

/* content05 */
.content05 {
  overflow-x: hidden;
  position: relative;
  padding-top: 90px;
  padding-top: 5.625rem;
  padding-bottom: 67.64px;
  padding-bottom: 4.2275rem;
  background-color: rgba(207, 240, 215, 0.3);
}

;

.content05::after {
  position: absolute;
  content: "";
  background: url(../../assets/img/circle01.png)center / contain no-repeat;
  aspect-ratio: 193/319;
  width: 47%;
  top: -5%;
  right: -8%;
  z-index: -1;
}

.content05__inner {
  padding-inline: 24px 34px;
  padding-inline: 1.5rem 2.125rem;
}

.content05 h3 {
  position: relative;
  font-style: italic;
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 130%;
  font-weight: 700;
}

.k6 {
  padding-top: 26px;
  padding-top: 1.625rem;
  width: 95%;
}

.content05__name {
  padding-left: 17px;
  padding-left: 1.0625rem;
  margin-top: 42px;
  margin-top: 2.625rem;
  font-family: 'Shippori Mincho B1', serif;
  font-size: 21px;
  font-size: 1.3125rem;
  letter-spacing: 0.13em;
  line-height: 130%;
  font-weight: 700;
}

.content05__name span {
  font-size: 0.6em;
  letter-spacing: 0.12em;
  font-weight: 800;
}

.content05__block {
  padding-top: 27px;
  padding-top: 1.6875rem;
  padding-left: 43px;
  padding-left: 2.6875rem;

}

.content05__block p {
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.14em;
  line-height: 130%;
  font-weight: 700;
  white-space: nowrap;
}

.content05__block p:before {
  position: absolute;
  content: "";
  background: url(../../assets/img/icon-check.png)center / contain no-repeat;
  aspect-ratio: 16/16;
  max-width: 16px;
  max-width: 1rem;
  width: 6%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin-left: -23px;
}

.content05__block p:not(:first-child) {
  margin-top: 8px;
  margin-top: 0.5rem;
}

.k07 {
  margin-top: 34px;
  margin-top: 2.125rem;
  margin-left: 9px;
  margin-left: 0.5625rem;

}

.content05__list {
  margin-top: 30px;
  margin-top: 1.875rem;
  margin-left: 10px;
  margin-left: 0.625rem;
  padding: 26px 11px 24px 24px;
  padding: 1.625rem 0.6875rem 1.5rem 1.5rem;
  background-color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 180%;
}

.content05__list li {
  position: relative;
  padding-left: 24px;
  padding-left: 1.5rem;
  /* 6px (dot) + 9px (space) + margin */
  text-indent: -9px;
  text-indent: -0.5625rem;

  /* 2行目以降のインデント */
}

.content05__list li:before {
  position: absolute;
  content: "";
  background-color: #027F3C;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  left: 0;
  top: 0.65em;
}

.content05__list li:not(:first-child) {
  margin-top: 8px;
  margin-top: 0.5rem;
}

.content05 .p1 {
  margin-top: 34px;
  margin-top: 2.125rem;
  color: #027F3C;
  font-size: 14px;
  font-size: 0.875rem;

  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 700;
}

.k8 {
  margin-top: 8px;
  margin-top: 0.5rem;
}

/* content06 */
.content06 {
  padding-top: 40px;
  padding-top: 2.5rem;
}

.content06__q {
  font-size: 51px;
  font-size: 3.1875rem;
  letter-spacing: 0.2em;
  line-height: 150%;
}

.content06 h3 {
  position: relative;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.26em;
  line-height: 150%;
}

.content06 h3:after {
  position: absolute;
  content: "";
  background: url(../../assets/img/line02.png)center / contain no-repeat;
  aspect-ratio: 273/17;
  /* max-width: 273px; */
  width: 81%;
  bottom: -60%;
  left: 50%;
  transform: translateX(-50%);
}

.k9 {
  padding-top: 80px;
  padding-top: 5rem;
  margin-inline: auto;
  width: 82%;
}

/* 基本ステップ */
.step {
  margin-top: 70px;
  margin-top: 4.375rem;

}

.step__inner {
  padding-inline: 15px 21px;
  padding-inline: 0.9375rem 1.3125rem;
}

.step .p1 {
  font-size: 23px;
  font-size: 1, 4375rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 150%;
}

.step h2 {
  font-style: italic;
  color: #55AB72;
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: 900;
  letter-spacing: 0.03em;
  line-height: 150%;
}

.step__items {
  margin-top: 24px;
  margin-top: 1.5rem;
  background: url(../../assets/img/bg01-02.png) center / contain no-repeat;
  aspect-ratio: 384 / 1507;
  padding-inline: 20px;
  padding-inline: 1.25rem;
}

.step__items .p1 {
  padding-top: 41px;
  padding-top: 2.5625rem;
  font-size: 19.45px;
  font-size: 1.215rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 130%;
}

.step__items h3 {
  padding-top: 16px;
  padding-top: 1rem;
  font-size: 30.41px;
  font-size: 1.901rem;
  font-weight: 900;
  line-height: 130%;
}

.step__item {
  position: relative;
  margin-inline: auto;
  padding-top: 16px;
  padding-top: 1rem;
  padding-inline: 20px;
  padding-inline: 1.25rem;
  background-color: #fff;
  border-radius: 0.625rem;
}

.text01 {
  padding-top: 22px;
  padding-top: 1.375rem;
  padding-bottom: 37px;
  padding-bottom: 2.3125rem;
}

.text02 {
  padding-bottom: 16px;
  padding-bottom: 1rem;
  padding-bottom: 18px;
  padding-bottom: 1.125rem;
}

.text03 {
  padding-top: 18px;
  padding-top: 1.125rem;
  padding-bottom: 21px;
  padding-bottom: 1.3125rem;
}

.step__item01::after {
  position: absolute;
  content: "";
  background: url(../../assets/img/k10.png)center / contain no-repeat;
  aspect-ratio: 126/131;
  width: 38%;
  bottom: 0;
  right: 0;
}

.step__item02::after,
.step__item03::after {
  position: absolute;
  content: "";
  background: url(../../assets/img/k11.png)center / contain no-repeat;
  aspect-ratio: 126/131;
  width: 38%;
  bottom: 0;
  right: 0;
}

.step__item01 {
  margin-top: 12.45px;
  margin-top: 0.7781rem;
}

.step__item02 {
  margin-top: 49px;
  margin-top: 3.0625rem;
}

.step__item03 {
  margin-top: 55px;
  margin-top: 3.4375rem;
}


.step__item02,
.step__item03 {
  position: relative;
}

.step__item02::before {
  position: absolute;
  content: "";
  top: -12%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 18px solid transparent;
  border-left: 1.125rem solid transparent;
  border-right: 18px solid transparent;
  border-right: 1.125rem solid transparent;
  border-top: 18px solid #fff;
  border-top: 1.125rem solid #fff;

}

.step__item03::before {
  position: absolute;
  content: "";
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 18px solid transparent;
  border-left: 1.125rem solid transparent;
  border-right: 18px solid transparent;
  border-right: 1.125rem solid transparent;
  border-top: 18px solid #fff;
  border-top: 1.125rem solid #fff;

}


.step__item-num {
  width: 88px;
  width: 27%;
}

.step__item-title {
  position: relative;
  margin-top: 8px;
  margin-top: 0.5rem;
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 166%;
  padding-bottom: 11px;
}

.step__item-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 1px;
  background-color: #000;
}

/* .step__item-flex {
  display: flex;
  justify-content: space-between;
  align-items: end;
} */

.step__item-text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 160%;
}

.step__item-img {
  width: 40%;
}

.step03__item {
  background-color: #E5F6EB;
  border-radius: 10px;
  border-radius: 0.625rem;
}

.step03__item-block {
  padding-block: 20px;
  padding-block: 1.25rem;
  padding-inline: 22px;
  padding-inline: 1.375rem;
  margin-top: 20px;
  margin-top: 1.25rem;

}

.step03__item-title {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
}

.step03__item-block ul {
  margin-top: 13px;
  margin-top: 0.8125rem;
}

.step03__item-block ul li {
  position: relative;
  margin-top: 14px;
  margin-top: 0.875rem;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.09em;
  line-height: 130%;
  padding-left: 18px;
  padding-left: 1.125rem;
}

.step03__item-block ul li::after {
  position: absolute;
  content: "・";
  color: #282C26;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.step03__item-block ul p {
  padding-top: 7px;
  padding-top: 0.4375rem;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 160%
}

.step__text {
  margin-top: 50px;
  margin-top: 3.125rem;
  font-size: 27px;
  font-size: 1.6875rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 150%;
  color: #282C26;
}

.step__text span {
  font-size: 1.2em;
}

/* support */
.support {
  margin-top: 56px;
  margin-top: 3.5rem;
  background-color: #282C26;
}

.support__inner {
  padding-inline: 28px;
  padding-inline: 1.75rem;
}

.support h2 {
  padding-top: 50px;
  padding-top: 3.125rem;
  color: #fff;
  font-size: 30.13px;
  font-size: 1.883rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 160%;
}

.support h2 .small {
  font-style: italic;
  font-size: 19.53px;
  font-size: 1.221rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 130%;
}

.support h2 .gr {
  font-size: 40.74px;
  font-size: 2.546rem;
  color: #027F54;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 140%;
}

.support__items {
  margin-top: 41px;
  margin-top: 2.563rem;
  padding-bottom: 46.63px;
  padding-bottom: 2.914rem;
}


.support__item {
  background-color: #27AF54;
  border-radius: 10px;
  border-radius: 0.625rem;
}

.support__item+.support__item {
  margin-top: 17.04px;
  margin-top: 1.0625rem;
}

.support__item-block {
  padding-top: 14px;
  padding-top: 0.875rem;
  padding-inline: 26px;
  padding-inline: 1.625rem;
}

.support__item-block02 {
  padding-top: 18px;
  padding-top: 1.125rem;
}

.support__item h3 {
  color: #fff;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 130%;
}

.support__item .h3-3 {
  color: #fff;
  padding-top: 16px;
  padding-top: 1rem;
  font-size: 26px;
  font-size: 1.625rem;

  font-weight: 700;
}

.support__item-block .p1 {
  margin-top: 8px;
  margin-top: 0.5rem;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 240%;
}

.support__item-block p span {
  color: #027F54;
  letter-spacing: 0.05em;
  background-color: #fff;
  padding-block: 5px;
  padding-block: 0.3125rem;
  padding-inline: 8px;
  padding-inline: 0.5rem;
  margin-right: 3px;
  margin-right: 0.1875rem;
}

.support__item-block .p2 {
  margin-top: 8px;
  margin-top: 0.5rem;
  color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 160%;
}

.support__item-block .p3 {
  margin-top: 12px;
  margin-top: 0.75rem;
  color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 160%;
}


.k12 {
  width: 92%;
  margin-left: 4%;
  margin-top: 2%;
}

.k13 {
  margin-top: 16px;
  margin-top: 1rem;
  padding-bottom: 27.61px;
  padding-bottom: 1.725625rem;
}

.k14 {
  margin-top: 23.49px;
  margin-top: 1.4375rem;
  padding-bottom: 25.37px;
  padding-bottom: 1.585625rem;
}


.k14 img {
  border-radius: 0.625rem;
}

/* content07 */
.content07 {
  padding-top: 73px;
  padding-top: 4.5625rem;
  padding-bottom: 52px;
  padding-bottom: 3.25rem;
  background-color: #E7F7EB;
}

.content07__inner {
  padding-inline: 23px;
  padding-inline: 1.4375rem;
}

.content07 h2 {
  color: #2A9C4F;
  font-size: 35px;
  font-size: 2.1875rem;
  font-weight: 700;
  letter-spacing: 0.16em;
  line-height: 120%;
}


.content07 h2 span {
  font-style: italic;
  color: #303030;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 260%;
}

.k15 {
  margin-top: 28px;
  margin-top: 1.75rem;
}

/* features */
.features {
  overflow-x: hidden;
  position: relative;
  padding-top: 54px;
  padding-top: 3.375rem;
  padding-bottom: 7px;
  padding-bottom: 0.4375rem;
}


.features::before {
  position: absolute;
  content: "";
  background: url(../../assets/img/circle02.png)center / contain no-repeat;
  aspect-ratio: 138/190;
  /* max-width: 138px; */
  width: 33vw;
  top: -2%;
  right: -8%;
  z-index: -1;
}

.features::after {
  position: absolute;
  content: "";
  background: url(../../assets/img/circle03.png)center / contain no-repeat;
  aspect-ratio: 161/122;
  /* max-width: 161px; */
  width: 40vw;
  top: 13%;
  left: -11%;
  z-index: -1;
}

.features__inner {
  padding-inline: 37px;
  padding-inline: 2.3125rem;
}

.features h2 {
  color: #2A9C4F;
  font-size: 55px;
  font-size: 3.4375rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 100%;
}

.features h2 .small {
  font-style: italic;
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 700;
}

.features h2 .num {
  font-size: 68.2px;
  font-size: 4.2625rem;
  font-weight: 700;
}

.features__items {
  margin-top: 60px;
  margin-top: 3.75rem;
  padding-bottom: 101px;
  padding-bottom: 6.3125rem;
}


.features__item02 {
  margin-top: 63px;
  margin-top: 3.9375rem;
}

.features__item03 {
  margin-top: 46px;
  margin-top: 2.875rem;
}

.features__item-num {
  position: relative;
  padding-left: 12px;
  padding-left: 0.75rem;
  font-size: 34px;
  font-size: 2.125rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 150%;
}

.features__item-num::after {
  position: absolute;
  content: "";
  width: 33px;
  width: 2.0625rem;
  height: 2px;
  height: 0.125rem;
  background-color: #000;
  bottom: 2px;
  bottom: 0.125rem;
  left: 3px;
  left: 0.1875rem;
}

.features__item h3 {
  margin-top: 4px;
  margin-top: 0.25rem;
  font-size: 27px;
  font-size: 1.6875rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 150%;
}

.features__item h3 span {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.04em;
}

.features__item p {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 190%;
}

.features__item .p1 {
  padding-top: 13px;
  padding-top: 0.8125rem;
}

.features__item .p3 {
  padding-top: 22.72px;
  padding-top: 1.375rem;
}

.box-gr {
  margin-top: 11px;
  margin-top: 0.6875rem;
  margin-left: 4px;
  margin-left: 0.25rem;
  margin-bottom: -6px;
  margin-bottom: -0.375rem;
  padding: 7px 10px 8px 6px;
  padding: 0.4375rem 0.625rem 0.5rem 0.375rem;
  background-color: #2A9C4F;
  border-radius: 0.125rem;
  border-radius: 0.0625rem;
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 87%;
  width: fit-content;
}

.k16 {
  aspect-ratio: 377/330;
  aspect-ratio: 1.141;
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}

/* 3大特典 */
.tokuten {
  padding-top: 19px;
  padding-top: 1.1875rem;
  padding-bottom: 18px;
  padding-bottom: 1.125rem;
  background-color: #346845;
}

.tokuten02 {
  padding-bottom: 28px;
  padding-bottom: 1.75rem;
}

.tokuten__inner {
  padding-inline: 27px;
  padding-inline: 1.6875rem;
}


.tokuten__img {
  aspect-ratio: 341/221;
  width: 95%;
  margin: auto;
}

.tokuten .p1 {
  color: #fff;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 140%;
}

.tokuten__items {
  margin-top: -7px;
  margin-top: -0.4375rem;
  padding-bottom: 35.59px;
  padding-bottom: 2.224375rem;
}


.tokuten__item {
  position: relative;
  background-color: #fff;
  border-radius: 0.625rem;
  padding-block: 19px;
  padding-block: 1.1875rem;
  padding-inline: 56px 22px;
  padding-inline: 3.5rem 1.375rem;

}

.tokuten__item+.tokuten__item {
  margin-top: 16px;
  margin-top: 1rem;
}

.tokuten__item .title {
  color: #478856;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 160%;
}

.tokuten__item p {
  margin-top: 5px;
  margin-top: 0.3125rem;
  font-size: 14px;
  font-size: 0.875rem;
  /* font-weight: 700; */
  letter-spacing: 0.04em;
  line-height: 170%;
}

.tokuten__item:before {
  position: absolute;
  content: "";
  top: -7%;
  left: -5%;
  aspect-ratio: 68/84;
  max-width: 68px;
  max-width: 4.25rem;
  width: 16vw;
}

.tokuten__item1:before {
  background: url(../../assets/img/tokuten01.png) center / contain no-repeat;
}

.tokuten__item2:before {
  background: url(../../assets/img/tokuten02.png) center / contain no-repeat;
}

.tokuten__item3:before {
  background: url(../../assets/img/tokuten03.png) center / contain no-repeat;
}

/* サポート選手の声 */
.voice {
  overflow-x: hidden;
  position: relative;
  background-color: rgba(212, 236, 211, 0.4);
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;

}

.voice::before {
  position: absolute;
  content: "";
  background: url(../../assets/img/circle04.png)center / contain no-repeat;
  aspect-ratio: 192/262;
  max-width: 192px;
  max-width: 12rem;
  width: 46vw;
  top: -20%;
  right: -20%;
}

.voice__inner {
  padding-inline: 22px 21px;
  padding-inline: 1.375rem 1.3125rem;
}

.voice h2 {
  position: relative;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 150%;
}

.voice h2 span {
  font-style: italic;
  color: #272727;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 130%;
}

.voice h2:before {
  position: absolute;
  content: "";
  background: url(/assets/img/icon02.png)center / contain no-repeat;
  aspect-ratio: 67/65;
  width: 22%;
  top: -22px;
  top: -1.375rem;
  right: 0;
}

.voice h2:after {
  position: absolute;
  content: "";
  background: url(../../assets/img/line02.png)center / contain no-repeat;
  aspect-ratio: 273/17;
  width: 89%;
  bottom: -28%;
  left: 50%;
  transform: translateX(-50%);
}

.voice__items {
  margin-top: 74px;
  margin-top: 4.625rem;
}

.voice__item+.voice__item {
  margin-top: 50px;
  margin-top: 3.125rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;

}

.voice__item {
  position: relative;
  background-color: #fff;
  border-radius: 0.625rem;
  padding-inline: 16px;
  padding-inline: 1rem;
}

.voice__item-img {
  position: absolute;
  top: -2.2%;
  left: -7.5%;
  width: 104%;
}

.voice__flex {
  display: flex;
  align-items: center;
  gap: 10px;
  gap: 0.625rem;
  justify-content: flex-start;
  margin-left: 2%;
  padding-top: 71%;
  margin-bottom: -13px;
  margin-bottom: -0.8125rem;
}

.voice__flex-img {
  width: 12%;
  margin-top: 2%;
}

.voice__title {
  padding-top: 9px;
  padding-top: 0.5625rem;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 150%;
}

.tokumei {
  display: block;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 170%;
  text-align: end;
  padding-top: 14px;
  padding-top: 0.875rem;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

.voice__contents h3 {
  padding-top: 14px;
  padding-top: 0.875rem;
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 140%;
  background-color: #139E40;
  border-radius: 0.125rem;
  padding: 5px 11px;
  padding: 0.3125rem 0.6875rem;
}

.voice__contents p {
  padding-top: 11px;
  padding-top: 0.6875rem;
  padding-left: 1.4%;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 170%;
}

.voice__button {
  margin-top: 35px;
  margin-top: 2.1875rem;
  position: relative;
  padding: 15px 58px;
  padding: 0.9375rem 3.625rem;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.14em;
  line-height: 140%;
  border: 1px solid #139E40;
  background-color: #139E40;
  left: 50%;
  transform: translateX(-50%);
}

.voice__button:after {
  position: absolute;
  content: "+";
  color: #fff;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 300;
  top: 50%;
  transform: translateY(-50%);
  right: 7%;
}

.voice-hidden {
  display: none;
}

.voice-hidden.voice-open {
  display: block;
}

.voice__item01 .voice__contents {
  margin-top: 8%;
}

.voice__item02 .voice__contents {
  margin-top: 10%;
}

.voice__item03 .voice__contents {
  margin-top: 7%;
}

.voice__item04 .voice__contents {
  margin-top: 7.7%;
}

.voice__item05 .voice__contents {
  margin-top: 7.7%;
}

.voice__item06 .voice__contents {
  margin-top: 7.7%;
}

.voice__item07 .voice__contents {
  margin-top: 7.7%;
}


/* コーチ紹介 */
.coach {
  padding-top: 46px;
  padding-top: 2.875rem;
  padding-bottom: 14px;
  padding-bottom: 0.875rem;
  background: linear-gradient(to right, #299C4F 0%, #5ED184 100%);
}

.coach__inner {
  padding-inline: 16px 14px;
  padding-inline: 1rem 0.875rem;
}

.coach h2 {
  font-style: italic;
  color: #fff;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 170%;
}

.coach__img {
  margin-top: 26px;
  margin-top: 1.625rem;
}

.coach__img img {
  border-radius: 45px;
  border-radius: 2.8125rem;
}

.coach__info {
  margin-top: 9px;
  margin-top: 0.5625rem;
  font-size: 32px;
  font-size: 2rem;
  margin-left: 2%;
  color: #fff;
  letter-spacing: 0.09em;
  line-height: 130%;
}

.coach__info .small {
  /* margin-top: 20.62px; */
  font-style: italic;
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 130%;
}

.coach__info .en {
  font-style: italic;
  color: rgba(255, 255, 255, 0.32);
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 140%;
}

.coach__info-text {
  margin-top: 7%;
  margin-left: 3%;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.03em;
  line-height: 150%;
}

.cards {
  width: 98%;
  margin-top: 20px;
  margin-top: 1.25rem;
  border-radius: 10px;
  border-radius: 0.625rem;
  background-color: #fff;
  padding: 24px 24px 28px 22px;
  padding: 1.5rem 1.5rem 1.75rem 1.375rem;
}

.card:not(:first-of-type) {
  margin-top: 26px;
  margin-top: 1.625rem;
}


.card img {
  aspect-ratio: 311/178;
  border-radius: 0.625rem;
}

.card__title {
  position: relative;
  display: inline;
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: bold;
  line-height: calc(24 / 17);
  letter-spacing: 0.08em;
  margin-top: 14px;
  margin-top: 0.875rem;
}

.card__title::after {
  content: '';
  position: absolute;
  bottom: -18%;
  left: 0;
  width: 100%;
  height: 1px;
  /* 下線の太さ */
  background-color: #1D1D1D;
  /* 下線の色 */
}

.card__content {
  margin-top: 18px;
  margin-top: 1.125rem;
}

.card__text {
  margin-top: 18px;
  margin-top: 1.125rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 170%;
  letter-spacing: 0.09em;
  text-align: justify;
}

.card__content-hide img {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.card__open {
  margin-left: auto;
  display: block;
  margin-top: -7%;
  color: #fff;
  background-color: #1D1D1D;
  font-size: 12.12px;
  font-size: 0.75rem;
  line-height: 154%;
  /* font-weight: 700; */
  padding-inline: 3px 5px;
  padding-inline: 0.1875px 0.3125px;
  border-radius: 2.6px;
  border-radius: 0.1625rem;
  box-shadow: 1px 2px 4px rgba(59, 59, 59, 0.25);
}

@media (min-width: 425px) and (max-width: 699.98px) {
  .card__open {
    margin-top: 0;
  }
}

/* 最初に表示されるコンテンツ */
.card__content {
  display: none;
}

/* 非表示にするコンテンツ */
.card__content-hide {
  display: none;
}

/* is-openクラスがついた場合に表示する */
.card__content.is-open {
  display: block;
}

.card__content-hide.is-open {
  display: block;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}


/* メッセージ*/
.message {
  margin-left: 2.5%;
  position: relative;
  margin-top: 38px;
  margin-top: 2.375rem;
  color: rgba(255, 255, 255, 0.3);
  font-family: 'Shippori Mincho B1', serif;
  font-size: 29px;
  font-size: 1.8125rem;
  letter-spacing: 0.1em;
  line-height: 130%;
}

.message:after {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  width: 180px;
  width: 11.25rem;
  height: 1px;
  height: 0.0625rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.video {
  margin-top: 11px;
  margin-top: 0.6875rem;
  width: 94%;
  margin-inline: auto;
}

.message__title {
  margin-top: 11px;
  margin-top: 0.6875rem;
  margin-left: 1%;
  color: #fff;
  font-size: 27px;
  font-size: 1.6875rem;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 160%;
}

.message__contents {
  margin-top: 17px;
  margin-top: 1.0625rem;
  margin-left: 3%;
  margin-right: 2%;
}

.message__contents p {
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.06em;
  line-height: 170%;
  padding-bottom: 23px;
  padding-bottom: 1.4375rem;
}

.message__head {
  margin-top: 2%;
  margin-left: 2%;
  color: #fff;
  font-size: 19px;
  font-size: 1.1875rem;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 150%;
}

/* よくあるご質問 */
.faq {
  padding: 36px 0 83px;
  padding: 2.25rem 0 5.1875rem;
}

.faq__inner {
  padding-right: 23px;
  padding-right: 1.4375rem;
  padding-left: 21px;
  padding-left: 1.3125rem;
}

.faq__title {
  font-style: italic;
  font-size: 34px;
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.03em;
}

.faq__list {
  margin-top: 25px;
  margin-top: 1.5625rem;
}

.faq__item {
  position: relative;
  padding: 22px 29px 30px 36px;
  padding: 1.375rem 1.8125rem 1.875rem 2.25rem;
  border-radius: 10px;
  border-radius: 0.625rem;
  background-color: #E7F7EB;
}

.faq__item+.faq__item {
  margin-top: 23px;
  margin-top: 1.4375rem;
}

.faq__item::before {
  position: absolute;
  content: "";
  background: url(../../assets/img/icon-q.png) center / contain no-repeat;
  background-size: contain;
  aspect-ratio: 40 / 40;
  width: 18%;
  top: -14%;
  left: -5%;
}

.faq__item2::before {
  top: -20%;
}


.faq__item-question {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

.faq__item-answer {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: calc(27/15);
  letter-spacing: 0.08em;
  margin-top: 14px;
  margin-top: 0.875rem;
}

/* LINE友達限定 */
.line {
  margin-top: 46px;
  margin-top: 2.875rem;
  padding-bottom: 38px;
  padding-bottom: 2.375rem;
  background-color: #303030;
  border-radius: 1.25rem;
}

.line__title {
  padding-top: 30px;
  padding-top: 1.875rem;
  font-style: italic;
  color: #40BA72;
  margin-top: 30px;
  font-size: 30.18px;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.04em;
}

.line__title.underline {
  text-decoration-color: #40BA72;
  text-decoration-thickness: 2px;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 10px;
  text-underline-offset: 0.875rem;
}

.line__img {
  margin-top: 21px;
  margin-top: 1.3125rem;
  width: 84%;
  margin-inline: auto;
}

.cta02_cta {
  margin-top: 27px;
  margin-top: 1.6875rem;
  display: flex;
  justify-content: center;
}

.cta__button02 {
  position: relative;
  padding: 15px 48px 16px 14px;
  padding: 0.9375rem 3rem 1rem 0.875rem;
  display: flex;
  align-items: center;
  gap: 14.7px;
  background: #40BA72;
  border-radius: 0.187rem 0.187rem 0 0;
}

.cta__button02:after {
  content: "";
  position: absolute;
  bottom: -6px;
  bottom: -0.375rem;
  /* 下10pxに配置 */
  left: 0;
  width: 100%;
  height: 6px;
  height: 0.375rem;
  background-color: #13A750;
  border-radius: 0 0 0.187rem 0.187rem;
  ;
}

.cta__line {
  max-width: 59.22px;
  max-width: 3.70125rem;
  width: 19%;
}

.cta__line-text span {
  position: relative;
  color: #FFEB01;
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.06em;
  white-space: nowrap;
}

.cta__line-text {
  color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 140%;
}

.cta__line-text:after {
  position: absolute;
  content: "";
  width: 10px;
  width: 0.625rem;
  height: 10px;
  height: 0.625rem;
  border-top: 2.3px solid #fff;
  border-top: 0.14375rem solid #fff;
  border-right: 2.3px solid #fff;
  border-right: 0.14375rem solid #fff;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  /* 45度回転させて ">" の形に */
  right: 5%;
}

/* フッター */
.bz-footer {
  padding: 51px 0 15px;
  padding: 3.1875rem 0 0.8125rem;
  text-align: center;
  position: relative;
}


.bz-footer__copyright {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 2.363636;
  letter-spacing: 0.04em;
  text-align: center;
}

/* 固定ボタン */
.kotei-btn {
  position: fixed;
  bottom: 10px;
  bottom: 0.625rem;
  left: 0;
  right: 0;
  z-index: 999;
  width: 373.48px;
  width: 23.3425rem;
  margin-inline: auto;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.kotei-btn.is-active {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 1040px) {
  .kotei-btn {
    display: none;
  }
}


/* お問い合わせ（フォーム関連はもう少し下） */
.contact {
  background-color: #55AB72;
  padding-block: 39px;
  padding-block: 2.438rem;
}

.contact__box h1 {
  margin-inline: auto;
  width: 75%;
}

.contact__image {
  margin-top: 27px;
  margin-top: 1.6875rem;
}

.contact__sub-title {
  margin-top: 6px;
  font-size: 25px;
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.1em;
  text-align: center;
}

.contact__title {
  font-size: 25px;
  font-size: 1.613rem;
  font-weight: 700;
  line-height: 155%;
  letter-spacing: 0.1em;
  text-align: center;
  text-align: center;
}

/*===========================================
 お問い合わせフォーム
========================================== */
.contact__box {
  margin-top: 13px;
  margin-top: 0.8125rem;
  padding: 30px 26px 43px 27px;
  padding: 1.875rem 1.625rem 2.6875rem 1.6875rem;
  border-radius: 10px;
  border-radius: 0.625rem;
  background-color: #fff;
}

.bz-contact__form-body {
  margin-top: 45px;
  margin-top: 2.8125rem;
}

.c-form-item+.c-form-item {
  margin-top: 18px;
  margin-top: 1.125rem;
}

.c-form-item__ttl {
  display: flex;
  align-items: center;
  column-gap: 11px;
  column-gap: 0.6875rem;
}

.c-form-item__ttl p {
  font-weight: 600;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
}

.c-form-item__ttl span {
  font-weight: 600;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.08em;
  color: #fff;
  background-color: #AC0000;
  width: 51px;
  width: 3.1875rem;
line-height: 140%;
  display: grid;
  place-items: center;
  border-radius: 1.79px;
  border-radius: 0.112rem;
}

.c-input,
.c-input__textarea {
  width: 100%;
  border-radius: 4px;
  border-radius: 0.25rem;
  background-color: #f7f7f7;
  border: 1px solid #e1e1e1;
  padding: 17px 16px 19px;
  padding: 1.0625rem 1rem 1.1875rem;
  color: #1c1c1c;
  margin-top: 5px;
  margin-top: 0.3125rem;
  font-weight: bold;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
}

@media (min-width: 320px) and (max-width: 400px) {

  .c-input,
  .c-input__textarea {
    padding: 17px 7px 19px;
    padding: 1.0625rem 0.4375rem 1.1875rem;
  }
}

input::placeholder,
textarea::placeholder {
  color: #c7c7c7;
  font-weight: 400;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
}

.c-select {
  position: relative;
}

.c-select::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 15px;
  right: 0.9375rem;
  transform: translateY(-50%);
  width: 8px;
  width: 0.5rem;
  height: 8px;
  height: 0.5rem;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(45deg);
}

.firefox .c-select::after {
  content: none;
}

.firefox .c-input,
.firefox .c-input__textarea {
  padding-right: 5px;
  padding-right: 0.3125rem;
}

.c-select--wide::after {
  right: 30px;
  right: 1.875rem;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

.c-select .c-input {
  background-color: #fff;
}

.c-form-item__label-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-input--flex {
  width: 150px;
  width: 9.375rem;
  height: 57.5px;
  height: 3.59375rem;
}

@media (min-width: 600px) and (max-width: 700px) {
  .c-input--flex {
    width: 140px;
    width: 8.75rem;
  }
}

@media (min-width: 700px) {
  .c-input--flex {
    width: 160px;
    width: 10rem;
  }
}

input[type="date"],
input[type="month"],
input[type="time"] {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.safari input[type="date"],
.safari input[type="month"],
.safari input[type="time"] {
  height: 57.5px;
  height: 3.59375rem;
}

/* プレースホルダーの色変更 */
input[type="date"]::-webkit-input-placeholder {
  color: #303030;
  /* プレースホルダー文字色 */
}

input[type="date"]::-moz-placeholder {
  color: #303030;
  /* Firefox */
}

input[type="date"]:-ms-input-placeholder {
  color: #303030;
  /* IE */
}

input[type="date"]::placeholder {
  color: #303030;
  /* 通常のプレースホルダー（クロスブラウザ対応） */
}

.c-message {
  min-height: 164px;
  min-height: 10.25rem;
  line-height: 1.7;
}

.c-message::placeholder {
  line-height: 1.7;
}

.bz-contact__form-btn {
  margin-top: 37px;
  margin-top: 2.3125rem;
  text-align: center;
}

.c-cta-btn__btn {
  position: relative;
  display: inline-block;
  font-size: 21px;
  font-size: 1.3125rem;
  /* width: 256px; */
  padding: 18px 48px 19px 41px;
  padding: 1.125rem 3rem 1.1875rem 2.5625rem;
  background-color: #E14955;
  /* ボタンの色 */
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.11em;
  line-height: 130%;
  border: none;
  border-radius: 50px;
  border-radius: 3.125rem;
  /* 角丸 */
  box-shadow: 0px 4px 1px rgb(176, 64, 73);
}

.c-cta-btn__btn:after {
  position: absolute;
  content: "";
  width: 10px;
  width: 0.625rem;
  height: 10px;
  height: 0.625rem;
  border-top: 2.3px solid #fff;
  border-top: 0.14375rem solid #fff;
  border-right: 2.3px solid #fff;
  border-right: 0.14375rem solid #fff;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  /* 45度回転させて ">" の形に */
  right: 6%;
}

/* .c-cta-btn__btn {
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
} */

@media (any-hover: hover) {
  .c-cta-btn__btn:hover {
    opacity: 0.8;
  }
}

.contact-footer {
  padding-block: 1rem 7.25rem;
}

.bz-footer__link a {
  color: #303030;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: calc(26 /13);
}

.footer__link {
  font: 13px;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: calc(23/16);
  text-align: center;
}



/*===========================================
 サンクスページ
========================================== */
.bz-thanks-page {
  background-color: #fff;
}

.bz-thanks {
  background-color: #55AB72;
  text-align: center;
  padding: 2.9375rem 0 3.1875rem;
  /* padding: 3.125rem 0 3.125rem; */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 500px; */
}

.bz-thanks-logo {
  height: 49px;
  height: 3.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sp-logo {
  width: 243px;
  width: 15.1875rem;
}

@media (min-height: 1440px) {
  .bz-thanks {
    height: calc(100lvh - 3.0625rem);
  }
}

.bz-thanks__title {
  padding-top: 90px;
  padding-top: 5.625rem;
  color: #fff;
  font-size: 21px;
  /* font-size: 1.1875rem; */
  line-height: 140%;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 375px) {
  .bz-thanks__title {
    font-size: 18px;
  }
}


.bz-thanks__text {
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.1em;
  line-height: calc(30/16);
  margin-top: 36px;
  margin-top: 2.25rem;
  font-weight: 400;
}

.bz-thanks__box {
  position: relative;
  margin-top: 54px;
  margin-top: 3.375rem;
  margin-inline: auto;
  width: 92%;
  padding: 33px 21px 30px;
  padding: 2.0625rem 1.3125rem 1.875rem;
  background-color: #fff;
  border-radius: 10px;
}

.bz-thanks__box::before {
  position: absolute;
  content: "";
  background: url(../../assets/img/thanks-line.png)center / contain no-repeat;
  aspect-ratio: 41/39;
  width: 11%;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
}

.thanks-line__title {
  color: #363636;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.24em;
  line-height: 155%;
  font-weight: 700;
}

.thanks-line__text {
  color: #363636;
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  line-height: 155%;
  margin-top: 14px;
  margin-top: 0.875rem;
}

.thanks__button {
  gap: 12.98px;
  gap: 1.298rem;
  padding: 13.25px 35.13px 21.74px 12.44px;
  padding: 1.325rem 3.513rem 2.174rem 1.244rem;
}

.cta__thanks-text span {
  display: block;
  padding-top: 4%;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.08em;
  line-height: 100%;
  text-align: start;
}

.cta__thanks-text {
  font-size: 13px;
  font-size: 0.8125rem;
  letter-spacing: 0;
  line-height: 1.39;
  text-align: start;
}

.bz-thanks__flex {
  margin-top: 30px;
  margin-top: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  gap: 1.0625rem;
}

.thanks__image {
  width: 28%;
}

.bz-thanks__name {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: calc(23/16);
  text-align: start;
}

.bz-thanks__name span {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 130%;
  text-align: center;
}

/* @media (min-width: 700px) {
  .bz-thanks__title {
    font-size: 1.4rem;
  }

  .bz-thanks__text {
    font-size: 1rem;
  }

} */

/* safariのみ適用 */
.safari a img {
  transition: all 0.6s cubic-bezier(0.12, 1.07, 0.15, 1.11);
}

.safari a:hover img {
  opacity: 0.7;
}